@import url("../../global.css");

.leftSideBar {
  position: sticky;
  width: 250px;
  padding-top: 40px;
  background-color: var(--primary-700);
  height: 100vh;
  /* z-index: 100; */
  top: 0;
  bottom: 0;
}
.topSection {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 20px 15px; */
  gap: 12px;
  margin-bottom: 18px;
}
.logo {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  transition: all ease-in;
}

.bars {
  margin-top: 5px;
  font-size: 24px;
  color: white;
}

.navLinkContainer {
  display: flex;
  flex-direction: column;
}
.link:hover {
  /* background-color: var(--primary-200); */
}
.link {
  padding: 24px;
  display: flex;
  cursor: pointer;
  gap: 24px;
  justify-content: center;
  align-items: center;
  text-decoration: none;

  /* color: #fff; */
  color: var(--grey, #6d7d8b);

  /* Paragraph */
  font-family: Montserrat;
  /* font-size: 13px; */
  font-style: normal;
  font-weight: 500;
  transition: all ease-in;

  line-height: 18px; /* 138.462% */
}

.link .color {
  fill: var(--grey);
}

@media (min-width: 768px) and (max-width: 1024px) {
  a p,
  .logo {
    display: none;
  }
  .leftSideBar {
    width: 120px;
    transition: all ease-in;
  }
}

@media screen and (max-width: 768px) {
  .leftSideBar {
    display: none;
  }
}
