@import url("../../global.css");

.leftSideBar {
  position: sticky;
  width: 250px;
  padding-top: 40px;
  background-color: var(--primary-700);
  height: 100vh;
  z-index: 100;
  top: 0;
  /* bottom: 0; */
}
.topSection {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 20px 15px; */
  gap: 12px;
  margin-bottom: 18px;
}
.logo {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}

.bars {
  margin-top: 5px;
  font-size: 24px;
  color: white;
}

.navLinkContainer {
  display: flex;
  flex-direction: column;
}
.link:hover {
  /* background-color: var(--primary-200); */
}
.link {
  padding: 18px;
  display: flex;
  cursor: pointer;
  gap: 16px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  /* color: #fff; */
  color: var(--grey, #6d7d8b);

  /* Paragraph */
  font-family: Montserrat;
  /* font-size: 13px; */
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 138.462% */
}
.color {
  fill: var(--grey);
}

@media only screen and (min-width: 600px) {
}
