@import url("../../global.css");

.title {
  color: var(--grey, #6d7d8b);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  margin: 0;
  margin-bottom: 5px;
}
.user {
  display: flex;
  gap: 8px;
}
.username {
  color: var(--black);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.email {
  color: var(--tuto-grey);
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.img {
  width: 35px;
  flex-shrink: 0;
  border-radius: 50px;
  aspect-ratio: 1/1;
}
.imgContainer {
  position: relative;
}

.status {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--primary-500);
  width: 13px;
  height: 13px;
  border: 2px solid var(--white);
  border-radius: 50px;
}

@media only screen and (min-width: 600px) {
  .contentContainer {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .title {
    color: var(--grey, #6d7d8b);
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 140% */
    margin: 0;
  }
  .user {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
  .username {
    color: var(--black);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .email {
    color: var(--tuto-grey);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }

  .img {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50px;
  }
  .imgContainer {
    position: relative;
  }
  .status {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--primary-500);
    width: 13px;
    height: 13px;
    border: 2px solid var(--white);
    border-radius: 50px;
  }
}

/* Styles for screens between 601 and 900 pixels wide */
@media only screen and (min-width: 601px) and (max-width: 900px) {
  /* Your styles for medium screens go here */
}

/* Styles for screens 901 pixels wide and above */
@media only screen and (min-width: 901px) {
  /* Your styles for large screens go here */
}
