@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --black: #000;
  --blueBlack: #25313c;
  /* primary colors */
  --primary-100: #cff3da;
  --primary-200: #9fe6b5;
  --primary-300: #6fda91;
  --primary-400: #3fcd6c;
  --primary-500: #0fc147;
  --primary-600: #09742b;
  --primary-700: #064d1c;
  --primary-800: #03270e;
  --primary-900: #000000;
  --backgroundColor: #f3fcf6;

  /* grey */
  --grey: #6d7d8b;
  --light-grey: #bbc8d4;
  --extraLight-grey: #dae3ea;
  --tuto-grey: #cccccc;
}

body {
  font-family: "Montserrat", sans-serif;
}

.active {
  border-left: 4px solid var(--white);
  color: var(--white);
}
.title {
  color: var(--blueBlack);
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 20px;
}

.goback {
  color: var(--light-grey);
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
  /* justify-content: center; */
}

.sectionTitle {
  color: var(--light-grey);

  /* Heading 3 */
  font-family: Montserrat;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 25.5px */
  letter-spacing: 0.34px;
  margin-bottom: 15px;
}

.subSectionTitle {
  color: var(--grey);
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 30px */
  margin-bottom: 15px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 15px;
}

td,
th {
  padding: 12px 15px;
  border: 1px solid var(--primary-100);
  text-align: justify;
}

thead {
  color: var(--light-grey);
  font-size: 14px;
  font-weight: 500;
}
tbody {
  overflow: hidden;
  color: var(--black);
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 21px */
}

input[type="search"] {
  width: fit-content;
  height: 40px;
  flex-shrink: 0;
  border-radius: 500px;
  border: 1px solid var(--primary-300);
  background: var(--white, #fff);
  padding-left: 58px;
  padding-right: 20px;
  transition: 0.5s;
}
input[type="search"]:focus {
  border: 1px solid #b61717;
}
input::placeholder {
  font-family: Montserrat;
  font-size: 12px;
  color: var(--primary-300);
}

.modal {
  /* width: 269px; */
  height: 184px;
  padding: 2rem;
  border: 0;
  border-radius: 0.5rem;
  position: relative;
  box-shadow: hsl(0 0% 0% / 10%) 0 0 0.5rem 0.25rem;
  /* top: 150px; */
}

.modal::backdrop {
  background: hsl(0 0% 0% / 50%);
}

.modal-close-btn {
  font-size: 0.75em;
  position: absolute;
  top: 0.25em;
  right: 0.25em;
}
